# QuestaSim/ModelSim
*.mti
*.wlf
transcript
vsim.wlf
modelsim.ini
work/
*.do
*.vcd
*.wdb
tmp/
dataset/
*.dat

# Quartus
db/
greybox_tmp/
incremental_db/
output_files/
*.qws
simulation/
*.bak
*.rpt
*.summary
*.sof
*.pof
*.jic
*.map
*.qdf
*.done
*.qws
*.qpf
*.qsf
*.qsys
*.bak
*.smsg
*.qdf~
*.qpf~
*.qsf~
pll_sim/
synth_temp/
*.qdz
*.qdb
*.qgz
*.qhc
*.qpf.sv
*.qsf.sv
*.qws.sv

# Common temp and backup files
*~
*.bak
*.swp
*.swo
*.tmp
